*{
    font-family: 'Poppins', sans-serif;
}

.background {
    background-color: #F1F1F1;
    height: 100vh;
}

.back {
    /* margin-top: 7vw;
    margin-left: 7vw; */
    width: max-content;
    display: block;
    padding-top: 7vw;
    padding-left: 8vw;
    margin-bottom: 4vw;
}

input[type=text] {
    background-color: transparent;
    border: 0.5vw solid #A4A4A4;
    border-radius: 3vw;
    width: 85vw;
    margin-bottom: 3vw;
    height: 10vw;
    padding-left: 3vw;
    font-size: 3.5vw;
    color: #4D4D4D;
}

#new_chq {
    width: 85vw;
}

.buttonIcon {
    margin-right: 1vw;
}

.share {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #2121217c;
    top: 4.8vw;
    right: 7vw;
    font-size: 4vw;
}

.shareOke {
    color: #212121 !important   ;
}

.button {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    width: 85vw;
    margin: auto;
    justify-content: space-around;
    margin-top: 4vw;
}

form {
    /* border: 1px solid red; */
    width: max-content;
    margin: auto;
    margin-top: 6vw;
}

textarea {
    background-color: #9d9d9d00;
    resize: none;
    overflow: hidden;
    border: 0.5vw solid #A4A4A4;
    width: 85vw;
    padding-left: 3vw;
    color: #4D4D4D;
    border-radius: 4vw;
    padding-top: 4vw;
    padding-right: 3vw;
    height: 50vw;
    margin-bottom: 3vw;
    font-size: 3.5vw;
}

textarea::placeholder {
    color: #4D4D4D;
}

button {
    display: flex;
    align-items: center;
    background-color: #7FA1F8;
    border: 0.5vw solid #6F8AD2;
    color: #F1F1F1;
    font-size: 3vw;
    padding: 1.5vw 4vw 1.5vw 4vw;
    border-radius: 2vw;
}

.round {
    position: relative;
    background-color: #7FA1F8;
    border: 1.5vw solid #141421;
    width: 11vw;
    border-radius: 9vw;
    height: 11vw;
    top: 4vw;
    left: 0vw;
    z-index: 1;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1vw;
}

.iconDesc3 {
    position: relative;
    bottom: 4vw;
}

.navbar {
    border-top-right-radius: 4vw;
    border-top-left-radius: 4vw;
    display: flex;
    padding-left: 9vw;
    padding-right: 9vw;
    justify-content: space-between;
    background-color: #141421;
    width: 100vw;
    height: 20vw;
    position: fixed;
    bottom: 15vw;
    z-index: 2;
    transform: translate(0%, 75%);
}

.iconImage {
    width: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
    /* border: 1px solid red; */
    width: max-content;
}

.iconDesc {
    padding-top: 4vw;
    text-align: center;
    color: white;
    font-size: 3vw;
}

#iconImage5 {
    position: relative;
    top: 0vw;
}

.iconText1 {
    color: #ffffff;
}

.blue {
    color: #7FA1F8;
}

.thumbnailClass {
    display: flex;
    margin-bottom: 3vw;
    padding-top: 4vw;
    align-items: center;
}

.Thumbnail {
    width: 70vw;
    margin: auto;
    margin-bottom: 7vw;
    display:flex;
}

.over {
    height: 187vw;
    overflow: scroll;
    padding-bottom: 80vw;
}