body {
    background-image: url('/assets/LoginRegister/background_redirect.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
