*{
    font-family: 'Poppins', sans-serif;
}

.profile {
    font-size: 6vw;
    font-weight: 500;
    text-align: center;
    padding-top: 5vw;
    margin-bottom: 4vw;
}

.fotoProfile {
    width: 25vw;
    margin: auto;
    border-radius: 100%;
    margin-bottom: 4vw;
}

.namaAkun {
    font-size: 5vw;
    font-weight: 500;
}

.usernameAkun {
    font-size: 3.5vw;
    opacity: 0.7;
}

.bioAkun {
    font-size: 4vw;
    font-weight: 400;
}

.deskProfile {
    line-height: 7vw;
    width: 65vw;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 4vw;
}

.editProfile {
    background-color: #7FA1F8;
    height: 11vw;
    text-align: center;
    display: flex;
    align-items: center;
    width: max-content;
    margin: auto;
    padding: 2vw 5vw 2vw 5vw;
    border-radius: 2vw;
    color: #ffffff;
    justify-content: space-between;
}

.text {
    font-size: 4vw;
    margin-right: 2vw;
}

.icon {
    width: 3vw;
}

.userIcon {
    opacity: 1 !important;    
}

.round {
    position: relative;
    background-color: #7FA1F8;
    border: 1.5vw solid #141421;
    width: 12vw;
    border-radius: 9vw;
    height: 12vw;
    top: 0vw;
    left: 0vw;
    z-index: 1;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5vw;
}

.iconDesc5 {
    position: relative;
    bottom: 5vw;
}

.navbar {
    border-top-right-radius: 4vw;
    border-top-left-radius: 4vw;
    display: flex;
    padding-left: 9vw;
    padding-right: 9vw;
    justify-content: space-between;
    border: 1px solid #141421;
    background-color: #141421;
    width: 100vw;
    height: 20vw;
    position: fixed;
    bottom: 15vw;
    z-index: 2;
    transform: translate(0%, 75%);
}

.iconImage {
    width: 6vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vw;
    /* border: 1px solid red; */
    width: max-content;
}

.iconDesc {
    padding-top: 4vw;
    text-align: center;
    color: white;
    font-size: 3vw;
}

#iconImage5 {
    position: relative;
    top: 0vw;
}

#iconText1 {
    color: #ffffff;
}

.blue {
    color: #7FA1F8;
}